/* Hamburger Menu */
.box-hamburger {
    display: none;
    color: white;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 99;
    left: 0;
    top: 5em;
    padding: 1em 2em;

    width: 15em;
    bottom: 0;
    border-radius: 15px;
}

.box-hamburger__item {
    list-style: none;
    margin: 0 auto;
    padding: 1em 0;
    cursor: pointer;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: all .5s ease-in-out;

}

.menu-btn__burger {
    position: absolute;
    width: 2em;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}


.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;

    //@extend .menu-btn__burger;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}