/* COLORS */ 
$background-color: #333333;
$footer-color: #222222;

$label-color-travel: #84FAB0;
$label-color-tech: #7028E4;

$banner-color-primary: #7028E4;
$banner-color-secondary: #E5B2CA;



/* SIZES */
$icon-width: 1.3em;
$icon-height: 1.3em;

$header-icon-width: 2em;
$header-icon-height: 2em;

$space-station-icon: 16em;